In [61]:
import pandas as pd

In [62]:
ebola=pd.read_csv("Downloads\data/country_timeseries.csv")
ebola

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
0,1/5/2015,289,2776.0,NaN,10030.0,NaN,NaN,NaN,NaN,NaN,1786.0,NaN,2977.0,NaN,NaN,NaN,NaN,NaN
1,1/4/2015,288,2775.0,NaN,9780.0,NaN,NaN,NaN,NaN,NaN,1781.0,NaN,2943.0,NaN,NaN,NaN,NaN,NaN
2,1/3/2015,287,2769.0,8166.0,9722.0,NaN,NaN,NaN,NaN,NaN,1767.0,3496.0,2915.0,NaN,NaN,NaN,NaN,NaN
3,1/2/2015,286,NaN,8157.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3496.0,NaN,NaN,NaN,NaN,NaN,NaN
4,12/31/2014,284,2730.0,8115.0,9633.0,NaN,NaN,NaN,NaN,NaN,1739.0,3471.0,2827.0,NaN,NaN,NaN,NaN,NaN
5,12/28/2014,281,2706.0,8018.0,9446.0,NaN,NaN,NaN,NaN,NaN,1708.0,3423.0,2758.0,NaN,NaN,NaN,NaN,NaN
6,12/27/2014,280,2695.0,NaN,9409.0,NaN,NaN,NaN,NaN,NaN,1697.0,NaN,2732.0,NaN,NaN,NaN,NaN,NaN
7,12/24/2014,277,2630.0,7977.0,9203.0,NaN,NaN,NaN,NaN,NaN,NaN,3413.0,2655.0,NaN,NaN,NaN,NaN,NaN
8,12/21/2014,273,2597.0,NaN,9004.0,NaN,NaN,NaN,NaN,NaN,1607.0,NaN,2582.0,NaN,NaN,NaN,NaN,NaN
9,12/20/2014,272,2571.0,7862.0,8939.0,NaN,NaN,NaN,NaN,NaN,1586.0,3384.0,2556.0,NaN,NaN,NaN,NaN,NaN
10,12/18/2014,271,NaN,7830.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3376.0,NaN,NaN,NaN,NaN,NaN,NaN
11,12/14/2014,267,2416.0,NaN,8356.0,NaN,NaN,NaN,NaN,NaN,1525.0,NaN,2085.0,NaN,NaN,NaN,NaN,NaN
12,12/9/2014,262,NaN,7797.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3290.0,NaN,NaN,NaN,NaN,NaN,NaN
13,12/7/2014,260,2292.0,NaN,7897.0,20.0,1.0,4.0,1.0,7.0,1428.0,NaN,1768.0,8.0,0.0,1.0,0.0,6.0
14,12/3/2014,256,NaN,7719.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3177.0,NaN,NaN,NaN,NaN,NaN,NaN
15,11/30/2014,253,2164.0,NaN,7312.0,20.0,1.0,4.0,1.0,7.0,1327.0,NaN,1583.0,8.0,0.0,1.0,0.0,6.0
16,11/28/2014,251,NaN,7635.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3145.0,NaN,NaN,NaN,NaN,NaN,NaN
17,11/23/2014,246,2134.0,NaN,6599.0,20.0,1.0,4.0,1.0,7.0,1260.0,NaN,1398.0,8.0,0.0,1.0,0.0,6.0
18,11/22/2014,245,NaN,7168.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3016.0,NaN,NaN,NaN,NaN,NaN,NaN
19,11/18/2014,241,2047.0,7082.0,6190.0,20.0,1.0,4.0,1.0,6.0,1214.0,2963.0,1267.0,8.0,0.0,1.0,0.0,6.0
20,11/16/2014,239,1971.0,NaN,6073.0,20.0,1.0,4.0,1.0,5.0,1192.0,NaN,1250.0,8.0,0.0,1.0,0.0,5.0
21,11/15/2014,238,NaN,7069.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2964.0,NaN,NaN,NaN,NaN,NaN,NaN
22,11/11/2014,234,1919.0,NaN,5586.0,20.0,1.0,4.0,1.0,4.0,1166.0,NaN,1187.0,8.0,0.0,1.0,0.0,3.0
23,11/10/2014,233,NaN,6878.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2812.0,NaN,NaN,NaN,NaN,NaN,NaN
24,11/9/2014,232,1878.0,NaN,5368.0,20.0,1.0,4.0,1.0,1.0,1142.0,NaN,1169.0,8.0,0.0,1.0,0.0,1.0
25,11/8/2014,231,NaN,6822.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2836.0,NaN,NaN,NaN,NaN,NaN,NaN
26,11/4/2014,227,NaN,6619.0,4862.0,20.0,1.0,4.0,1.0,1.0,NaN,2766.0,1130.0,8.0,0.0,1.0,0.0,1.0
27,11/3/2014,226,1760.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1054.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,11/2/2014,225,1731.0,NaN,4759.0,20.0,1.0,4.0,1.0,1.0,1041.0,NaN,1070.0,8.0,0.0,1.0,0.0,1.0
29,10/31/2014,222,NaN,6525.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2697.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,5/23/2014,62,258.0,12.0,0.0,NaN,NaN,NaN,NaN,NaN,174.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
93,5/12/2014,51,248.0,12.0,0.0,NaN,NaN,NaN,NaN,NaN,171.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
94,5/10/2014,49,233.0,12.0,0.0,NaN,NaN,NaN,NaN,NaN,157.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
95,5/7/2014,46,236.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,158.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
96,5/5/2014,44,235.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,157.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
97,5/3/2014,42,231.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,155.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
98,5/1/2014,40,226.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,149.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
99,4/26/2014,35,224.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,143.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
100,4/24/2014,33,NaN,35.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
101,4/23/2014,32,218.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,141.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
102,4/22/2014,31,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
103,4/21/2014,30,NaN,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN
104,4/20/2014,29,208.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,136.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN
105,4/17/2014,26,203.0,27.0,NaN,NaN,NaN,NaN,NaN,NaN,129.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,4/16/2014,25,197.0,27.0,NaN,NaN,NaN,NaN,NaN,NaN,122.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN
107,4/15/2014,24,NaN,NaN,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,4/14/2014,23,168.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,108.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,4/11/2014,20,159.0,26.0,2.0,NaN,NaN,NaN,NaN,NaN,106.0,13.0,2.0,NaN,NaN,NaN,NaN,NaN
110,4/9/2014,18,158.0,25.0,2.0,NaN,NaN,NaN,NaN,NaN,101.0,12.0,2.0,NaN,NaN,NaN,NaN,NaN
111,4/7/2014,16,151.0,21.0,2.0,NaN,NaN,NaN,NaN,NaN,95.0,10.0,2.0,NaN,NaN,NaN,NaN,NaN
112,4/4/2014,13,143.0,18.0,2.0,NaN,NaN,NaN,NaN,NaN,86.0,7.0,2.0,NaN,NaN,NaN,NaN,NaN
113,4/1/2014,10,127.0,8.0,2.0,NaN,NaN,NaN,NaN,NaN,83.0,5.0,2.0,NaN,NaN,NaN,NaN,NaN
114,3/31/2014,9,122.0,8.0,2.0,NaN,NaN,NaN,NaN,NaN,80.0,4.0,2.0,NaN,NaN,NaN,NaN,NaN
115,3/29/2014,7,112.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,70.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
116,3/28/2014,6,112.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN,70.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN
117,3/27/2014,5,103.0,8.0,6.0,NaN,NaN,NaN,NaN,NaN,66.0,6.0,5.0,NaN,NaN,NaN,NaN,NaN
118,3/26/2014,4,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,3/25/2014,3,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,3/24/2014,2,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,3/22/2014,0,49.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# ë³µìŠµ

In [63]:
# ëˆ„ë½ê°’ì´ ì•„ë‹Œ ë°ì´í„° ê±¸ëŸ¬ë‚´ê¸°
ebola.info() # rì–¸ì–´ì˜ str í•¨ìˆ˜ì™€ ìœ ì‚¬

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 18 columns):
Date                   122 non-null object
Day                    122 non-null int64
Cases_Guinea           93 non-null float64
Cases_Liberia          83 non-null float64
Cases_SierraLeone      87 non-null float64
Cases_Nigeria          38 non-null float64
Cases_Senegal          25 non-null float64
Cases_UnitedStates     18 non-null float64
Cases_Spain            16 non-null float64
Cases_Mali             12 non-null float64
Deaths_Guinea          92 non-null float64
Deaths_Liberia         81 non-null float64
Deaths_SierraLeone     87 non-null float64
Deaths_Nigeria         38 non-null float64
Deaths_Senegal         22 non-null float64
Deaths_UnitedStates    18 non-null float64
Deaths_Spain           16 non-null float64
Deaths_Mali            12 non-null float64
dtypes: float64(16), int64(1), object(1)
memory usage: 17.2+ KB

In [64]:
ebola.count() #non-nullì— ëŒ€í•œ ê°¯ìˆ˜ ë‚˜ì˜´

Date                   122
Day                    122
Cases_Guinea            93
Cases_Liberia           83
Cases_SierraLeone       87
Cases_Nigeria           38
Cases_Senegal           25
Cases_UnitedStates      18
Cases_Spain             16
Cases_Mali              12
Deaths_Guinea           92
Deaths_Liberia          81
Deaths_SierraLeone      87
Deaths_Nigeria          38
Deaths_Senegal          22
Deaths_UnitedStates     18
Deaths_Spain            16
Deaths_Mali             12
dtype: int64

In [65]:
ebola.shape

(122, 18)

In [66]:
num_rows=ebola.shape[0]
num_missing=num_rows-ebola.count()
num_rows
num_missing

Date                     0
Day                      0
Cases_Guinea            29
Cases_Liberia           39
Cases_SierraLeone       35
Cases_Nigeria           84
Cases_Senegal           97
Cases_UnitedStates     104
Cases_Spain            106
Cases_Mali             110
Deaths_Guinea           30
Deaths_Liberia          41
Deaths_SierraLeone      35
Deaths_Nigeria          84
Deaths_Senegal         100
Deaths_UnitedStates    104
Deaths_Spain           106
Deaths_Mali            110
dtype: int64

In [67]:
# Cases_Guinea ì¹¼ëŸ¼ì—ì„œ NaNì´ ëª‡ ê°œì¸ì§€ ì¶”ì¶œ
num_rows=ebola['Cases_Guinea'].count()
num_rows

93

In [68]:
num_rows-ebola['Cases_Guinea']

0     -2683.0
1     -2682.0
2     -2676.0
3         NaN
4     -2637.0
5     -2613.0
6     -2602.0
7     -2537.0
8     -2504.0
9     -2478.0
10        NaN
11    -2323.0
12        NaN
13    -2199.0
14        NaN
15    -2071.0
16        NaN
17    -2041.0
18        NaN
19    -1954.0
20    -1878.0
21        NaN
22    -1826.0
23        NaN
24    -1785.0
25        NaN
26        NaN
27    -1667.0
28    -1638.0
29        NaN
        ...
92     -165.0
93     -155.0
94     -140.0
95     -143.0
96     -142.0
97     -138.0
98     -133.0
99     -131.0
100       NaN
101    -125.0
102       NaN
103       NaN
104    -115.0
105    -110.0
106    -104.0
107       NaN
108     -75.0
109     -66.0
110     -65.0
111     -58.0
112     -50.0
113     -34.0
114     -29.0
115     -19.0
116     -19.0
117     -10.0
118       7.0
119       7.0
120       7.0
121      44.0
Name: Cases_Guinea, Length: 122, dtype: float64

In [69]:
import numpy as np
ebola['Cases_Guinea'].isnull() #True:1, False:0
np.count_nonzero(ebola['Cases_Guinea'].isnull()) #NaN ê°œìˆ˜

29

# ëˆ„ë½ê°’ ì²˜ë¦¬  - ëŒ€ì²´
> fillnaí•¨ìˆ˜: ë°ì´í„° ê°’ì´ ë§Žì„ ë• ì‚­ì œí•´ë„ ë˜ì§€ë§Œ, ìœ ì˜ë¯¸í•œ ë°ì´í„°ë¼ë©´ ì‚­ì œí•œ ê²ƒìœ¼ë¡œ ì¸í•´ ë¬¸ì œê°€ ë  ìˆ˜ ìžˆìŒ

In [70]:
ebola['Cases_Guinea'].fillna(0) # NaNì€ 0ìœ¼ë¡œ ëŒ€ì²´
# 0ìœ¼ë¡œ ëŒ€ì²´í•˜ëŠ” ê²½ìš°, ìˆ«ìžë¡œ ëŒ€ì²´ë˜ê¸° ë•Œë¬¸ì— floatê°€ ìœ ì§€ë¨

# ebola['Cases_Guinea']=ebola['Cases_Guinea'].fillna("Missing") # NaNì„ 'Missing' ë¬¸ìžì—´ë¡œ ëŒ€ì²´
# ë¬¸ìží˜•ì´ ì¼ì¹˜í•˜ê²Œ ì €ìž¥ë¨. ë”°ë¼ì„œ ìˆ«ìžë¥¼ ë¬¸ìžë¡œ ë°”ê¾¸ë©´ ì „ì²´ ë¬¸ìžë¡œ ë³€ê²½ë¨ (Cases_Guinea float > int)

ebola.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 18 columns):
Date                   122 non-null object
Day                    122 non-null int64
Cases_Guinea           93 non-null float64
Cases_Liberia          83 non-null float64
Cases_SierraLeone      87 non-null float64
Cases_Nigeria          38 non-null float64
Cases_Senegal          25 non-null float64
Cases_UnitedStates     18 non-null float64
Cases_Spain            16 non-null float64
Cases_Mali             12 non-null float64
Deaths_Guinea          92 non-null float64
Deaths_Liberia         81 non-null float64
Deaths_SierraLeone     87 non-null float64
Deaths_Nigeria         38 non-null float64
Deaths_Senegal         22 non-null float64
Deaths_UnitedStates    18 non-null float64
Deaths_Spain           16 non-null float64
Deaths_Mali            12 non-null float64
dtypes: float64(16), int64(1), object(1)
memory usage: 17.2+ KB

In [71]:
ebola['Cases_Guinea'].fillna(0).iloc[0:10]
ebola.fillna(0).iloc[0:10] #ì—ë³¼ë¼ ì „ì²´ ë°ì´í„°ì˜ naì— 0ì„ ìž…ë ¥í•˜ê³ , í–‰0~9ë¥¼ ì¶”ì¶œí•¨
ebola.fillna(0).iloc[0:10, 0:5] #naì— 0ì„ ëŒ€ìž…í•˜ê³  0~9í–‰ì„ ì¶”ì¶œí•œë’¤ 0~5ì—´ì„ ì¶”ì¶œí•¨

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0            0.0            10030.0
1    1/4/2015  288        2775.0            0.0             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286           0.0         8157.0                0.0
4  12/31/2014  284        2730.0         8115.0             9633.0
5  12/28/2014  281        2706.0         8018.0             9446.0
6  12/27/2014  280        2695.0            0.0             9409.0
7  12/24/2014  277        2630.0         7977.0             9203.0
8  12/21/2014  273        2597.0            0.0             9004.0
9  12/20/2014  272        2571.0         7862.0             8939.0

# ëˆ„ë½ê°’ ì²˜ë¦¬  - ì‚­ì œ
> dropnaí•¨ìˆ˜: ëˆ„ë½ê°’ì´ í¬í•¨ëœ í–‰ ì „ì²´ê°€ ì‚­ì œ

In [72]:
ebola=pd.read_csv("Downloads\data/country_timeseries.csv")
ebola
ebola_dropna=ebola.dropna()

In [75]:
# cases_NigeriaëŠ” nanì´ ë§Žì•„ì„œ í•œê°œ ë°ì´í„°ë§Œ ë‚¨ìŒ
# êµ°ë° êµ°ë° NANì´ ìžˆëŠ” ê²½ìš°ì— ì‚¬ìš©í•˜ê¸° ì ì ˆí•¨
ebola_dropna

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
19,11/18/2014,241,2047.0,7082.0,6190.0,20.0,1.0,4.0,1.0,6.0,1214.0,2963.0,1267.0,8.0,0.0,1.0,0.0,6.0

-------------------------------------------------------------------------

In [83]:
# Cases_Guinea + Cases_Liberia ë‘ê°œì˜ ìš”ì†Œê°’ì„ ë”í•¨
# ì–´ëŠ í•œ ìª½ì— NANì´ ìžˆìœ¼ë©´ ê²°ê³¼ê°’ì€ ë¬´ì¡°ê±´ NANì´ ë‚˜ì˜´
# ì–‘ìª½ ëª¨ë‘ ì˜¨ì „í•œ ìˆ˜ì¹˜ê°€ ì €ìž¥ë˜ì–´ ìžˆëŠ” ê²½ìš°ì—ë§Œ ë§ì…ˆì´ ê°€ëŠ¥í•¨

ebola['Cases_multiple']=ebola['Cases_Guinea'] + ebola['Cases_Liberia'] + ebola['Cases_SierraLeone']

# ebola['Cases_multiple'] ì— ê°’ì„ ëŒ€ìž…í•˜ë©´ í‘œì— ì¶”ê°€ë¨

In [84]:
ebola

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali,Cases_multiple
0,1/5/2015,289,2776.0,NaN,10030.0,NaN,NaN,NaN,NaN,NaN,1786.0,NaN,2977.0,NaN,NaN,NaN,NaN,NaN,NaN
1,1/4/2015,288,2775.0,NaN,9780.0,NaN,NaN,NaN,NaN,NaN,1781.0,NaN,2943.0,NaN,NaN,NaN,NaN,NaN,NaN
2,1/3/2015,287,2769.0,8166.0,9722.0,NaN,NaN,NaN,NaN,NaN,1767.0,3496.0,2915.0,NaN,NaN,NaN,NaN,NaN,20657.0
3,1/2/2015,286,NaN,8157.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3496.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,12/31/2014,284,2730.0,8115.0,9633.0,NaN,NaN,NaN,NaN,NaN,1739.0,3471.0,2827.0,NaN,NaN,NaN,NaN,NaN,20478.0
5,12/28/2014,281,2706.0,8018.0,9446.0,NaN,NaN,NaN,NaN,NaN,1708.0,3423.0,2758.0,NaN,NaN,NaN,NaN,NaN,20170.0
6,12/27/2014,280,2695.0,NaN,9409.0,NaN,NaN,NaN,NaN,NaN,1697.0,NaN,2732.0,NaN,NaN,NaN,NaN,NaN,NaN
7,12/24/2014,277,2630.0,7977.0,9203.0,NaN,NaN,NaN,NaN,NaN,NaN,3413.0,2655.0,NaN,NaN,NaN,NaN,NaN,19810.0
8,12/21/2014,273,2597.0,NaN,9004.0,NaN,NaN,NaN,NaN,NaN,1607.0,NaN,2582.0,NaN,NaN,NaN,NaN,NaN,NaN
9,12/20/2014,272,2571.0,7862.0,8939.0,NaN,NaN,NaN,NaN,NaN,1586.0,3384.0,2556.0,NaN,NaN,NaN,NaN,NaN,19372.0
10,12/18/2014,271,NaN,7830.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3376.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12/14/2014,267,2416.0,NaN,8356.0,NaN,NaN,NaN,NaN,NaN,1525.0,NaN,2085.0,NaN,NaN,NaN,NaN,NaN,NaN
12,12/9/2014,262,NaN,7797.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3290.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,12/7/2014,260,2292.0,NaN,7897.0,20.0,1.0,4.0,1.0,7.0,1428.0,NaN,1768.0,8.0,0.0,1.0,0.0,6.0,NaN
14,12/3/2014,256,NaN,7719.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3177.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,11/30/2014,253,2164.0,NaN,7312.0,20.0,1.0,4.0,1.0,7.0,1327.0,NaN,1583.0,8.0,0.0,1.0,0.0,6.0,NaN
16,11/28/2014,251,NaN,7635.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3145.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,11/23/2014,246,2134.0,NaN,6599.0,20.0,1.0,4.0,1.0,7.0,1260.0,NaN,1398.0,8.0,0.0,1.0,0.0,6.0,NaN
18,11/22/2014,245,NaN,7168.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3016.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,11/18/2014,241,2047.0,7082.0,6190.0,20.0,1.0,4.0,1.0,6.0,1214.0,2963.0,1267.0,8.0,0.0,1.0,0.0,6.0,15319.0
20,11/16/2014,239,1971.0,NaN,6073.0,20.0,1.0,4.0,1.0,5.0,1192.0,NaN,1250.0,8.0,0.0,1.0,0.0,5.0,NaN
21,11/15/2014,238,NaN,7069.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2964.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,11/11/2014,234,1919.0,NaN,5586.0,20.0,1.0,4.0,1.0,4.0,1166.0,NaN,1187.0,8.0,0.0,1.0,0.0,3.0,NaN
23,11/10/2014,233,NaN,6878.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2812.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,11/9/2014,232,1878.0,NaN,5368.0,20.0,1.0,4.0,1.0,1.0,1142.0,NaN,1169.0,8.0,0.0,1.0,0.0,1.0,NaN
25,11/8/2014,231,NaN,6822.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2836.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,11/4/2014,227,NaN,6619.0,4862.0,20.0,1.0,4.0,1.0,1.0,NaN,2766.0,1130.0,8.0,0.0,1.0,0.0,1.0,NaN
27,11/3/2014,226,1760.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1054.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,11/2/2014,225,1731.0,NaN,4759.0,20.0,1.0,4.0,1.0,1.0,1041.0,NaN,1070.0,8.0,0.0,1.0,0.0,1.0,NaN
29,10/31/2014,222,NaN,6525.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2697.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,5/23/2014,62,258.0,12.0,0.0,NaN,NaN,NaN,NaN,NaN,174.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN,270.0
93,5/12/2014,51,248.0,12.0,0.0,NaN,NaN,NaN,NaN,NaN,171.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN,260.0
94,5/10/2014,49,233.0,12.0,0.0,NaN,NaN,NaN,NaN,NaN,157.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN,245.0
95,5/7/2014,46,236.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,158.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN,249.0
96,5/5/2014,44,235.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,157.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN,248.0
97,5/3/2014,42,231.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,155.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN,244.0
98,5/1/2014,40,226.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,149.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN,239.0
99,4/26/2014,35,224.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,143.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
100,4/24/2014,33,NaN,35.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
101,4/23/2014,32,218.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,141.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
102,4/22/2014,31,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
103,4/21/2014,30,NaN,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,4/20/2014,29,208.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,136.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,4/17/2014,26,203.0,27.0,NaN,NaN,NaN,NaN,NaN,NaN,129.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,4/16/2014,25,197.0,27.0,NaN,NaN,NaN,NaN,NaN,NaN,122.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,4/15/2014,24,NaN,NaN,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,4/14/2014,23,168.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,108.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,4/11/2014,20,159.0,26.0,2.0,NaN,NaN,NaN,NaN,NaN,106.0,13.0,2.0,NaN,NaN,NaN,NaN,NaN,187.0
110,4/9/2014,18,158.0,25.0,2.0,NaN,NaN,NaN,NaN,NaN,101.0,12.0,2.0,NaN,NaN,NaN,NaN,NaN,185.0
111,4/7/2014,16,151.0,21.0,2.0,NaN,NaN,NaN,NaN,NaN,95.0,10.0,2.0,NaN,NaN,NaN,NaN,NaN,174.0
112,4/4/2014,13,143.0,18.0,2.0,NaN,NaN,NaN,NaN,NaN,86.0,7.0,2.0,NaN,NaN,NaN,NaN,NaN,163.0
113,4/1/2014,10,127.0,8.0,2.0,NaN,NaN,NaN,NaN,NaN,83.0,5.0,2.0,NaN,NaN,NaN,NaN,NaN,137.0
114,3/31/2014,9,122.0,8.0,2.0,NaN,NaN,NaN,NaN,NaN,80.0,4.0,2.0,NaN,NaN,NaN,NaN,NaN,132.0
115,3/29/2014,7,112.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,70.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,3/28/2014,6,112.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN,70.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN,117.0
117,3/27/2014,5,103.0,8.0,6.0,NaN,NaN,NaN,NaN,NaN,66.0,6.0,5.0,NaN,NaN,NaN,NaN,NaN,117.0
118,3/26/2014,4,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,3/25/2014,3,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,3/24/2014,2,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,3/22/2014,0,49.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
ebola.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 19 columns):
Date                   122 non-null object
Day                    122 non-null int64
Cases_Guinea           93 non-null float64
Cases_Liberia          83 non-null float64
Cases_SierraLeone      87 non-null float64
Cases_Nigeria          38 non-null float64
Cases_Senegal          25 non-null float64
Cases_UnitedStates     18 non-null float64
Cases_Spain            16 non-null float64
Cases_Mali             12 non-null float64
Deaths_Guinea          92 non-null float64
Deaths_Liberia         81 non-null float64
Deaths_SierraLeone     87 non-null float64
Deaths_Nigeria         38 non-null float64
Deaths_Senegal         22 non-null float64
Deaths_UnitedStates    18 non-null float64
Deaths_Spain           16 non-null float64
Deaths_Mali            12 non-null float64
Cases_multiple         54 non-null float64
dtypes: float64(17), int64(1), object(1)
memory usage: 18.2+ KB

In [97]:
# ì¢Œ:í–‰, ìš°:ì—´ ( [: ,  ]ì€ ì „ì²´ í–‰ì„ ì°¸ì¡°í•˜ê² ë‹¤)
# í–‰ì€ ë°˜ë“œì‹œ ìžˆì–´ì•¼ í•¨
# ebola.loc[ : , ] (=) ebola.loc[ : , : ] (=) ebola = ì„¸ ê°œì˜ ì¶”ì¶œê°’ì€ ëª¨ë‘ ê°™ìŒ

ebola.loc[:, 'Cases_Guinea' ]

# 2ê°œ ì´ìƒ ì¶”ì¶œí•  ë•ŒëŠ” ëŒ€ê´„í˜¸ë¡œ ë¬¶ì–´ì•¼ í•¨
ebola_subset=ebola.loc[:, ['Cases_Guinea','Cases_Liberia','Cases_SierraLeone','Cases_multiple']]
ebola.iloc[:, [3,4,5,-1]]

# ìƒìœ„ 10ê°œ ì¶”ì¶œ
ebola_subset.head(10)

   Cases_Guinea  Cases_Liberia  Cases_SierraLeone  Cases_multiple
0        2776.0            NaN            10030.0             NaN
1        2775.0            NaN             9780.0             NaN
2        2769.0         8166.0             9722.0         20657.0
3           NaN         8157.0                NaN             NaN
4        2730.0         8115.0             9633.0         20478.0
5        2706.0         8018.0             9446.0         20170.0
6        2695.0            NaN             9409.0             NaN
7        2630.0         7977.0             9203.0         19810.0
8        2597.0            NaN             9004.0             NaN
9        2571.0         7862.0             8939.0         19372.0

In [102]:
# ë‘˜ ë‹¤ ê°€ëŠ¥ >  ebola_subset['Cases_Guinea'] (=) ebola_subset.Cases_Guinea

# sumí•¨ìˆ˜
ebola_subset.Cases_Guinea.sum() #ì˜¤ëž˜ëœ ë²„ì „ì—ì„œëŠ” NaNì´ ë‚˜ì˜´
# ë§Œì•½ ì˜›ë‚ ë²„ì „ì—ì„œ sumí•¨ìˆ˜ë¥¼ ìˆ˜í–‰í•˜ë©´ NaNì´ ë‚˜ì˜´(NaNì´ í¬í•¨ë˜ì–´ ìžˆìœ¼ë©´, ì—°ì‚°ê²°ê³¼ë„ Nanì´ ë‚˜ì˜¤ê¸° ë•Œë¬¸ìž„)

ebola_subset.Cases_Guinea.sum(skipna=False) #naë¥¼ ê±´ë„ˆë›°ì§€ ë§ì•„ë¼..í•˜ë©´ nanì´ ë‚˜ì˜´
ebola_subset.Cases_Guinea.sum(skipna=True)

84729.0

------------------------------------------------------------------------------------------------------

# ìžë£Œí˜• ë³€í™˜ (astypeí•¨ìˆ˜)
> * ë°ì´í„°ë¶„ì„ê³¼ì •ì—ì„œ ì¤‘ìš”í•¨

In [226]:
import seaborn as sns
tips=sns.load_dataset("tips")
tips.head(5)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [118]:
tips.info()

# ë²”ì£¼í˜•: category

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null category
smoker        244 non-null category
day           244 non-null category
time          244 non-null category
size          244 non-null int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.2 KB

In [119]:
tips['sex_str']=tips['sex'].astype(str)
# ë³€í™˜ê²°ê³¼ë¥¼ sex_strë¡œ ìƒˆë¡œë§Œë“¤ì–´ì„œ ì €ìž¥

In [120]:
tips.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

In [121]:
# total_billì„ strë¡œ ë³€í™˜í•´ì„œ ì €ìž¥í•œ í›„ ì¶œë ¥
tips['total_bill']=tips['total_bill'].astype(str)
tips.dtypes

total_bill      object
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

In [122]:
# ë³€ê²½ëœ ê²ƒì„ ë‹¤ì‹œ ì›ëž˜ëŒ€ë¡œ ë˜ëŒë¦¬ê¸°
tips['total_bill']=tips['total_bill'].astype(float)
tips.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

In [137]:
tips_sub_miss=tips.head(10)
tips_sub_miss
tips_sub_miss.info()

# tips_sub_missì˜ total_bill ì—´ ì¤‘ì—ì„œ 1ë²ˆ ì¸ë±ìŠ¤ í–‰ì˜ ë°ì´í„°ë¥¼ 'missing'ìœ¼ë¡œ ë°”ê¾¸ì–´ ì €ìž¥
# tips_sub_miss.total_bill[1]="missing"
tips_sub_miss.loc[1, 'total_bill']="missing"
tips_sub_miss

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 8 columns):
total_bill    10 non-null float64
tip           10 non-null float64
sex           10 non-null category
smoker        10 non-null category
day           10 non-null category
time          10 non-null category
size          10 non-null int64
sex_str       10 non-null object
dtypes: category(4), float64(2), int64(1), object(1)
memory usage: 920.0+ bytes

C:\Users\B-7\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

  total_bill   tip     sex smoker  day    time  size sex_str
0      16.99  1.01  Female     No  Sun  Dinner     2  Female
1    missing  1.66    Male     No  Sun  Dinner     3    Male
2      21.01  3.50    Male     No  Sun  Dinner     3    Male
3      23.68  3.31    Male     No  Sun  Dinner     2    Male
4      24.59  3.61  Female     No  Sun  Dinner     4  Female
5      25.29  4.71    Male     No  Sun  Dinner     4    Male
6       8.77  2.00    Male     No  Sun  Dinner     2    Male
7      26.88  3.12    Male     No  Sun  Dinner     4    Male
8      15.04  1.96    Male     No  Sun  Dinner     2    Male
9      14.78  3.23    Male     No  Sun  Dinner     2    Male

In [154]:
# tips_sub_missì˜ total_bill ì—´ ì¤‘ì—ì„œ 1ë²ˆ ì¸ë±ìŠ¤ í–‰ì˜ ë°ì´í„°ë¥¼ 'missing'ìœ¼ë¡œ ë°”ê¾¸ì–´ ì €ìž¥
tips_sub_miss.loc[[1,3,5,7], 'total_bill']="missing"
tips_sub_miss
tips_sub_miss.dtypes

C:\Users\B-7\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

total_bill      object
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

In [155]:
# tips_sub_miss['total_bill'].astype(float)
# ë¬¸ìžì—´ì„ ì‹¤ìˆ˜ë¡œ ë³€í™˜í•  ìˆ˜ ì—†ìœ¼ë¯€ë¡œ ì—ëŸ¬

# pd.to_numeric(tips_sub_miss['total_bill'])
# ë¬¸ìžì—´ì„ ì‹¤ìˆ˜ë¡œ ë³€í™˜í•  ìˆ˜ ì—†ìœ¼ë¯€ë¡œ ì—ëŸ¬, to_numeric í•¨ìˆ˜ëŠ” astypeê³¼ ë¹„êµí–ˆì„ë•Œ
# ì¢€ ë” ìƒì„¸í•œ ë©”ì„¸ì§€ê°€ ë‚˜ì˜¤ë©°, ì˜µì…˜ì„ ì£¼ì–´ì„œ ì—ëŸ¬ë©”ì‹œì§€ì— ëŒ€í•œ ì œì–´ë¥¼ í•  ìˆ˜ ìžˆìŒ

--------------------------------------------------------------------------------------------------------------------

# error ì¸ìžì— ì„¤ì •í•  ìˆ˜ ìžˆëŠ” ê°’
## ingore: ì•„ë¬´ ìž‘ì—…ë„ í•˜ì§€ ì•ŠìŒ
## raise: ìˆ«ìžë¡œ ë³€í™˜í•  ìˆ˜ ì—†ëŠ” ê°’ì´ ìžˆìœ¼ë©´ ì˜¤ë¥˜ë°œìƒ
### coerce: ìˆ«ìžë¡œ ë³€í™˜í•  ìˆ˜ ì—†ëŠ” ê°’ì„ ëˆ„ë½ê°’ìœ¼ë¡œ ì§€ì •(ê°•ì œ)

--------------------------------------------------------------------------------------------------------------------

# ìˆ˜ì¹˜ & ë¬¸ìžë°ì´í„° ë³€í™˜

In [164]:
# ignore

tips_sub_miss['total_bill']=pd.to_numeric(
    tips_sub_miss["total_bill"], errors='ignore') 
# ì˜¤ë¥˜ë“¤ì„ ë¬´ì‹œí•´ë¼(ì—¬ì „ížˆ total_billì€ ë¬¸ìžì—´ë¡œ)
# ìˆ«ìžë¡œ ëœ ë¬¸ìžì¸ ê²½ìš°ì—ëŠ” to_numeric ì‚¬ìš©ì‹œ ìˆ«ìžë¡œ ë³€í™˜ë¨(missing ë¬¸ìžê°€ ìˆ«ìžì™€ í•¨ê»˜ ìž…ë ¥ë˜ì–´ ìžˆìŒ)
tips_sub_miss.dtypes

C:\Users\B-7\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

In [165]:
# coerce

tips_sub_miss['total_bill']=pd.to_numeric(
    tips_sub_miss["total_bill"], errors='coerce') 
# coerce: ê°•ì œë¡œ ëˆ„ë½ê°’ìœ¼ë¡œ ë°”ê¿”ë¼ (total_billì€ floatë¡œ ë°”ë€œ)
tips_sub_miss.dtypes
tips_sub_miss['total_bill']

C:\Users\B-7\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

0    16.99
1      NaN
2    21.01
3      NaN
4    24.59
5      NaN
6     8.77
7      NaN
8    15.04
9    14.78
Name: total_bill, dtype: float64

# ì¹´í…Œê³ ë¦¬(ìœ í•œí•œ ë²”ìœ„ì˜ ê°’ë§Œì„ ê°€ì§ˆ ìˆ˜ ìžˆëŠ” íŠ¹ìˆ˜í•œ ìžë£Œí˜•) ìžë£Œí˜• ë³€í™˜
> * ì¹´í…Œê³ ë¦¬ íƒ€ìž…ì˜ ì˜ˆ(í•™ë…„, ì„±ë³„, ë‚ ì”¨, ì¢…êµ, ìœ ë¬´)
* ìœ íš¨í•œ ë²”ìœ„( =)ì¹´í…Œê³ ë¦¬, ë²”ì£¼í˜•, ë„ë©”ì¸ ë“±)

In [177]:
# tips.info()

tips['sex']=tips['sex'].astype('str')  #ë°”ê¾¸ê³  ë³€ìˆ˜ê°’ì— ìž…ë ¥í•´ì¤˜ì•¼ ë°˜ì˜ë¨
tips.info()
# memory usage: 10.7+ KB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null object
smoker        244 non-null category
day           244 non-null category
time          244 non-null category
size          244 non-null int64
sex_str       244 non-null object
dtypes: category(3), float64(2), int64(1), object(2)
memory usage: 10.7+ KB

In [181]:
tips['sex']=tips['sex'].astype('category')  #ë°”ê¾¸ê³  ë³€ìˆ˜ê°’ì— ìž…ë ¥í•´ì¤˜ì•¼ ë°˜ì˜ë¨
tips.info()
# memory usage: 9.1+ KB
# ê¸€ìžì—ì„œ ì¹´í…Œê³ ë¦¬ë¡œ ë³€ê²½í•˜ë©´ ë©”ëª¨ë¦¬ ê°’ì´ ìž‘ì•„ì§
# í–¥í›„ ë©”ëª¨ë¦¬ ìž‘ê²Œ ì‚¬ìš©í•˜ëŠ” ê²ƒì„ ê³ ë ¤í•´ì•¼í•¨

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null category
smoker        244 non-null category
day           244 non-null category
time          244 non-null category
size          244 non-null int64
sex_str       244 non-null object
dtypes: category(4), float64(2), int64(1), object(1)
memory usage: 9.1+ KB

# ë¬¸ìžì—´ ì²˜ë¦¬
>* 15, '15', '3.14'

In [192]:
word="grail"
#     01234
#   -5-4-3-2-1
sent="a scratch"
# ì¸ë±ìŠ¤ë¡œ ë¬¸ìž ì¶”ì¶œ

word[0] # word[-5] ëª¨ë‘ 'g'ì¶œë ¥
sent[0:-8] # ìŒìˆ˜ë¥¼ ì ì ˆížˆ ì‚¬ìš©í•˜ì—¬ ì¶œë ¥ê°€ëŠ¥
sent[ : ] #ì „ì²´ì¶œë ¥

sent[::2] # ë‘ê¸€ìžì”© ê±´ë„ˆëœ€ (asrth)

'asrth'

In [209]:
#ë¬¸ìžì—´ ê´€ë ¨ ë©”ì„œë“œ
x="good morning"
x.capitalize() #ì²« ê¸€ìžê°€ ëŒ€ë¬¸ìžë¡œ
x.count('n') # ë³€ìˆ˜ì— ê¸€ìž nì˜ ê°œìˆ˜ë¥¼ ì„¸ëŠ” í•¨ìˆ˜

# ì–´ë–¤ ë¬¸ìžë¡œ ì‹œìž‘í•˜ëŠ”ì§€ í™•ì¸í•˜ê³  ì‹¶ì„ ë•Œ
x.startswith('Good') #False
x.startswith('good') #True

# ì–´ë–¤ ë¬¸ìžë¡œ ëë‚˜ëŠ”ì§€ í™•ì¸í•˜ê³  ì‹¶ì„ ë•Œ
x.endswith('ing')

x.find('n') # nê¸€ìžì˜ ì²«ë²ˆì§¸ ì¸ë±ìŠ¤ ë¦¬í„´: 8
x.find('z') # -1ì¶œë ¥ = ì—†ìŒ

x.index('n') # nê¸€ìžì˜ ì²«ë²ˆì§¸ ì¸ë±ìŠ¤ ë¦¬í„´: 8
x.index('z') # ì—†ìœ¼ë¯€ë¡œ ì—ëŸ¬ ë°œìƒ(findì™€ì˜ ì°¨ì´ì )

ValueError: substring not found

In [224]:
# ì•ŒíŒŒë²³(ë¬¸ìž) í™•ì¸í•˜ê¸°
x.isalpha() # ê³µë°±ì´ í¬í•¨ë˜ì–´ ìžˆì–´ false
"good".isalpha() # True
"good2".isalpha() # ìˆ«ìžê°€ í¬í•¨ë˜ì–´ ìžˆì–´ì„œ false

"1234".isdecimal() # ëª¨ë“  ë¬¸ìžê°€ ìˆ«ìžë©´ True

"a1234".isalnum() # ìˆ«ìžì™€ ì•ŒíŒŒë²³ìœ¼ë¡œ êµ¬ì„±ë˜ì–´ìžˆìœ¼ë©´ True
"1234".isalnum() # True
"good".isalnum() # True
"good morning".isalnum() # ê³µë°±ë¬¸ìžê°€ ìžˆìœ¼ë¯€ë¡œ false

"good morning".upper() #ëŒ€ë¬¸ìžë³€í™˜
"GOOD MORNING".lower() #ì†Œë¬¸ìžë³€í™˜

'good morning'

In [225]:
"good morning".replace("o", "k") # oë¬¸ìžê°€ ëª¨ë‘ kë¡œ ë°”ë€œ
"good morning".replace("oo", "ab") #ooë¬¸ìžê°€ abë¡œ ë°”ë€œ

'gabd morning'

In [232]:
"3,4,5".partition(",")   #('3', ',', '4,5')
# ì²˜ìŒì— ë‚˜ì˜¤ëŠ” ,ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ì–‘ìª½ìœ¼ë¡œ ë¶„ë¦¬ë¨

"3,4,5".split(",") #['3', '4', '5']
# ì˜¨ì „í•˜ê²Œ ë¶„ë¦¬í•˜ê¸° ìœ„í•´ì„œ

# joiní•¨ìˆ˜ : ë¬¸ìžì—´ ì—°ê²°
a1="1í•™ë…„"
a2="3ë°˜"
a3="5ë²ˆ"
a4="í™ê¸¸ë™"
a1+a2+a3+a4 # ê³µë°± ì—†ìŒ
' '.join([a1,a2,a3,a4]) # ê³µë°±ìœ¼ë¡œ ì—°ê²°

'1í•™ë…„ 3ë°˜ 5ë²ˆ í™ê¸¸ë™'

In [252]:
multi_str="""how
are
you?
fine
thanks
"""
multi_str # '\nhow\nare\nyou?\nfine\nthanks\n'
multi_str_split=multi_str.splitlines()
multi_str_split # ['', 'how', 'are', 'you?', 'fine', 'thanks'] : ì¤„ë°”ê¿ˆ ë¬¸ìžë¡œ ì¸í•´ ì•žì— í™‘ë”°ì˜´í‘œê°€ ë“¤ì–´ê°
multi_str_split[::2] # ['how', 'you?', 'thanks']

#thanksë¥¼ thank youë¡œ ë°”ê¾¸ê¸°
multi_str=multi_str.replace("thanks","thank you")
multi_str_split=multi_str.splitlines()
multi_str_split

['how', 'are', 'you?', 'fine', 'thank you']

In [235]:
multi_str2="how are you? fine htanks"
multi_str2

'how are you? fine htanks'

In [239]:
# multi_str3="how 
# are 
# you 
# fine 
# htanks "
# multi_str3
# ìž˜ ëª» ìž‘ì„±ë¨

In [255]:
import re
tele_num="1234567890"
re.match("\d+",tele_num)

In [283]:
# ì „í™”ë²ˆí˜¸ë¥¼ íŒ¨í„´ìœ¼ë¡œ ì €ìž¥
tel_num_spaces="123 456 7890" 
m=re.match("\d{10}", tel_num_spaces) #ê³µë°±ì¸ì‹ ëª»í•´ì„œ ë§¤ì¹˜ì•ˆë¨
print(m)
if m:
    print("ë§¤ì¹˜ë¨")
else:
    print("ë§¤ì¹˜ ì•ˆë¨")

None
ë§¤ì¹˜ ì•ˆë¨

In [284]:
tel_num_spaces="123 456 7890"
m=re.match("\d{3}\s\d{3}\s\d{4}", tel_num_spaces) #3ìžë¦¬+ê³µë°± 3ìžë¦¬+ê³µë°± +4ìžë¦¬
print(m)

<_sre.SRE_Match object; span=(0, 12), match='123 456 7890'>

In [285]:
# compileì„ ì´ìš©í•œ ë§¤ì¹˜ì—¬ë¶€ í™•ì¸
pat=re.compile("\d{10}")
s="1234567890"
m=pat.match(s)
print(m)

<_sre.SRE_Match object; span=(0, 10), match='1234567890'>

In [303]:
df=pd.DataFrame({"a":[10,20,30], "b":[20,30,40]})
df

    a   b
0  10  20
1  20  30
2  30  40

In [304]:
#a ì—´ì˜ ê°’ì„ ì œê³±í•˜ì—¬ ì¶œë ¥í•˜ì„¸ìš”
df["a"]**2

0    100
1    400
2    900
Name: a, dtype: int64

In [305]:
def my_sq(x):
    return x**2
def my_exp(x,n):
    return x**n

In [306]:
# my_sq(df["a"])
df["a"].apply(my_sq)

0    100
1    400
2    900
Name: a, dtype: int64

In [307]:
# a ì—´ ê°’ì— ëŒ€í•œ 3ì œê³± ê°’ì„ ì¶œë ¥
my_exp(df["a"],3)

0     1000
1     8000
2    27000
Name: a, dtype: int64

In [296]:
df["a"].apply(my_exp, n=3) #n=3ìœ¼ë¡œ ëª…ì‹œë¥¼ í•´ì•¼í•  ë¶€ë¶„ì„ ì§€ì •í•´ì•¼ ì ìš©ë¨

0     1000
1     8000
2    27000
Name: a, dtype: int64


---------------------------ì—¬ê¸°ê¹Œì§€ ì‹œë¦¬ì¦ˆ ì ìš©-----------------------------------------------------------------------

In [325]:
df=pd.DataFrame({"a":[10,20,30], "b":[100,200,300]})
df

    a    b
0  10  100
1  20  200
2  30  300

In [326]:
def print_me(x):
    print(x)

In [327]:
# df
# df.apply(print_me) #ì—´ë°©í–¥ìœ¼ë¡œ ì¶œë ¥
# df.apply(print_me, axis=0) #ì—´ë°©í–¥ìœ¼ë¡œ ì¶œë ¥
df.apply(print_me, axis=1) #í–‰ë°©í–¥ìœ¼ë¡œ ì¶œë ¥

a     10
b    100
Name: 0, dtype: int64
a     20
b    200
Name: 1, dtype: int64
a     30
b    300
Name: 2, dtype: int64

0    None
1    None
2    None
dtype: object

--------------â˜…í—·ê°ˆë¦¼â˜…----------------

In [348]:
def avg_3(x): 
    #ì²˜ìŒì—ëŠ” a ì—´ì´ ì „ë‹¬ë˜ì–´ aì—´ì˜ 0ë²ˆ indexê°’ì¸ 10 ì¶œë ¥ 
    #ì²˜ìŒì—ëŠ” a ì—´ì´ ì „ë‹¬ë˜ì–´ bì—´ì˜ 0ë²ˆ indexê°’ì¸ 100 ì¶œë ¥ 
#     return(x[0]+x[1]+x[2])/3
    return(x[0]+x[1]/2)
#     print(x[0])

In [349]:
df.apply(avg_3) #dfì˜ aì—´, bì—´ ê°ê°ì— ëŒ€í•œ í‰ê· ì„ êµ¬í•˜ê³  ì‹¶ìŒ
#3ê°œì˜ ì¸ìˆ˜ê°€ í•„ìš”í•œë° 1ê°œì˜ ì¸ìˆ˜ë§Œ ì „ë‹¬í•´ì„œ ì—ëŸ¬

a     20.0
b    200.0
dtype: float64