1. 모든 행과 열에 라벨을 갖는 5*5 크기의 데이터 프레임 생성

In [3]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.arange(1,26).reshape(5,5),
               index=['a','b','c','d','e'],
               columns=['A','B','C','D','E'])
df

    A   B   C   D   E
a   1   2   3   4   5
b   6   7   8   9  10
c  11  12  13  14  15
d  16  17  18  19  20
e  21  22  23  24  25

2. 다양한 방법으로 특정 행과 열을 선택하는 연습을 해보세요

In [5]:
# a행 전체
df.loc["a", : ]

A    1
B    2
C    3
D    4
E    5
Name: a, dtype: int32

In [6]:
df.loc[:, "A" ]

a     1
b     6
c    11
d    16
e    21
Name: A, dtype: int32

In [9]:
df.loc["b":, "A" ]
# b 다음인 b,c,d,e의 A 값 다 추출

b     6
c    11
d    16
e    21
Name: A, dtype: int32

In [11]:
# 7과 22뽑기
df.loc[["a","e"],["B"]]

    B
a   2
e  22

In [17]:
# E열의 평균보다 큰지 확인
def select_rows(df):
    return  df.E > [df.E.mean()]

In [18]:
# C열 중 E열보다 평균이 큰 값
df.loc[select_rows(df), "C"]

d    18
e    23
Name: C, dtype: int32

3. 데이터 조작

In [43]:
db=pd.DataFrame({
    'a':[1,3,2,4],
    'b':[2,5,1,3],
    'c':[1,6,2,5]
})
db

   a  b  c
0  1  2  1
1  3  5  6
2  2  1  2
3  4  3  5

In [44]:
#1행 1열 Nan
db.iloc[1,2]=np.nan
db

   a  b    c
0  1  2  1.0
1  3  5  NaN
2  2  1  2.0
3  4  3  5.0

In [45]:
db.count()

a    4
b    4
c    3
dtype: int64

In [72]:
# 열 단위로 lambda함수 적용
db.apply(lambda x:x.max()-x.min())

a    3.0
b    4.0
c    4.0
dtype: float64

In [49]:
# 행 단위로 lambda함수 적용
db.apply(lambda x:x.max()-x.min(),axis=1)

0    1.0
1    2.0
2    1.0
3    2.0
dtype: float64

In [92]:
db.sum() #열 합계
db.sum(axis=1) #행 합계
db.sum(axis=0) #열 합계

NameError: name 'dtype' is not defined

In [84]:
s=pd.Series(range(,20))
s

0     10
1     11
2     12
3     13
4     14
5     15
6     16
7     17
8     18
9     19
10    20
11    21
12    22
13    23
14    24
15    25
16    26
17    27
18    28
19    29
20    30
21    31
22    32
23    33
24    34
25    35
26    36
27    37
28    38
29    39
30    40
31    41
32    42
33    43
34    44
35    45
36    46
37    47
38    48
39    49
dtype: int64

In [86]:
s[[3,4,18]]=np.nan
s

0     10.0
1     11.0
2     12.0
3      NaN
4      NaN
5     15.0
6     16.0
7     17.0
8     18.0
9     19.0
10    20.0
11    21.0
12    22.0
13    23.0
14    24.0
15    25.0
16    26.0
17    27.0
18     NaN
19    29.0
20    30.0
21    31.0
22    32.0
23    33.0
24    34.0
25    35.0
26    36.0
27    37.0
28    38.0
29    39.0
30    40.0
31    41.0
32    42.0
33    43.0
34    44.0
35    45.0
36    46.0
37    47.0
38    48.0
39    49.0
dtype: float64

In [87]:
s.count() 
len(s)-s.count()

3

NameError: name 'dtype' is not defined