In [8]:
import matplotlib as mpl
import matplotlib.pylab as plt
%matplotlib inline

In [18]:
import pandas as pd
import numpy as np
import seaborn as sns

In [19]:
from matplotlib import font_manager, rc
import platform
if platform.system()=="Windows":
    font_name=font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
    rc('font', family=font_name)
matplotlib.rcParams['axes.unicode_minus']=False

NameError: name 'matplotlib' is not defined

In [73]:
data=pd.read_csv("SDG.csv", encoding='euc-kr')

In [80]:
data

         노선  시간대   교통량  구분
0     내부순환로    0  4455  평일
1     내부순환로    1  3328  평일
2     내부순환로    2  2668  평일
3     내부순환로    3  2440  평일
4     내부순환로    4  3030  평일
5     내부순환로    5  5763  평일
6     내부순환로    6  8635  평일
7     내부순환로    7  8564  평일
8     내부순환로    8  7745  평일
9     내부순환로    9  7693  평일
10    내부순환로   10  7755  평일
11    내부순환로   11  7741  평일
12    내부순환로   12  7623  평일
13    내부순환로   13  7774  평일
14    내부순환로   14  7794  평일
15    내부순환로   15  7775  평일
16    내부순환로   16  7738  평일
17    내부순환로   17  7816  평일
18    내부순환로   18  8097  평일
19    내부순환로   19  8093  평일
20    내부순환로   20  7883  평일
21    내부순환로   21  7751  평일
22    내부순환로   22  7586  평일
23    내부순환로   23  6426  평일
24     강변북로    0  6830  평일
25     강변북로    1  4714  평일
26     강변북로    2  3341  평일
27     강변북로    3  2788  평일
28     강변북로    4  3328  평일
29     강변북로    5  7314  평일
..      ...  ...   ...  ..
618  서부간선도로   18  4968  휴일
619  서부간선도로   19  4947  휴일
620  서부간선도로   20  4826  휴일
621  서부간선도로   21  4795  휴일
622  서부간선도로   22  4706  휴일
623  서부간선도로   23  4091  휴일
624   강남순환로    0  1967  휴일
625   강남순환로    1  1277  휴일
626   강남순환로    2   853  휴일
627   강남순환로    3   605  휴일
628   강남순환로    4   611  휴일
629   강남순환로    5  1103  휴일
630   강남순환로    6  2185  휴일
631   강남순환로    7  2765  휴일
632   강남순환로    8  3347  휴일
633   강남순환로    9  4387  휴일
634   강남순환로   10  5174  휴일
635   강남순환로   11  5440  휴일
636   강남순환로   12  5362  휴일
637   강남순환로   13  5812  휴일
638   강남순환로   14  6075  휴일
639   강남순환로   15  6406  휴일
640   강남순환로   16  6873  휴일
641   강남순환로   17  6895  휴일
642   강남순환로   18  6235  휴일
643   강남순환로   19  5206  휴일
644   강남순환로   20  4746  휴일
645   강남순환로   21  4407  휴일
646   강남순환로   22  3595  휴일
647   강남순환로   23  2291  휴일

[648 rows x 4 columns]

In [81]:
data.head()

      노선  시간대   교통량  구분
0  내부순환로    0  4455  평일
1  내부순환로    1  3328  평일
2  내부순환로    2  2668  평일
3  내부순환로    3  2440  평일
4  내부순환로    4  3030  평일

In [83]:
line=data.groupby('노선')[['교통량']].mean()
line

                 교통량
노선
강남순환로    4540.819444
강변북로    10230.472222
경부고속도로   8357.902778
내부순환로    6534.958333
동부간선도로   6120.388889
북부간선도로   4447.083333
분당수서로    5531.027778
서부간선도로   4310.986111
올림픽대로   10289.472222

In [89]:
data2= pd.DataFrame(data,
    index=[['노선','노선','노선','노선','노선','노선','노선','노선','노선'],
           ['휴일','평일'],
    columns=['교통량'])

SyntaxError: invalid syntax (<ipython-input-89-03834bd2d701>, line 4)

In [86]:
data2

       교통량
노선 구분  NaN